<% provide(:title, @provider) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @provider.username %>
        <br>
        <%= @provider.first_name %>
        <br>
        <%= @provider.last_name %>
        <br>
        <%= @provider.gender %>
      </h1>
    </section>
  </aside>
</div>
